<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.tic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="activities.ChoixNomSiteActivity"
            android:label="@string/titleChoixNom" />
        <activity 
            android:name="activities.MenuActivity"            
            android:label="@string/titleMenu" />
        <activity 
            android:name="activities.AfficherCatalogueActivity"
            android:label="@string/titleAfficherCatalogue" />
        <activity 
            android:name="activities.AjouterProduitActivity"
            android:label="@string/titleAjouterProduit" />
        <activity 
            android:name="activities.ModifierProduitActivity"
            android:label="@string/titleModifierProduit" />
        <activity 
            android:name="activities.SupprimerProduitActivity"
            android:label="@string/titleSupprimerProduit" />
        <activity 
            android:name="activities.AjouterCategorieActivity"
            android:label="@string/titleAjouterCategorie" />
        <activity 
            android:name="activities.AjouterClientActivity"
            android:label="@string/titleAjouterClient" />
    </application>

</manifest>